<header>
  <div class="content">
    <p class="main-p">Cửa hàng giao đồ ăn nhanh Los Pollos Hermanos</p>
    <p>Phục vụ khách hàng tại Hà Nội, tiết kiệm, nhanh chóng</p>
    <p>SĐT: 911</p>
    <p style="font-style: italic;">Chi tiết bên dưới</p>
    <i class="fa-solid fa-down"></i>
  </div>
</header>

<section class="pricing-table">
  <h2 class="title">Phí vận chuyển</h2>
  <table>
    <thead>
      <tr>
        <th>Quãng đường</th>
        <th>Hoá đơn</th>
        <th>Phí</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 - 3Km</td>
        <td>Tất cả hoá đơn</td>
        <td>Miễn phí</td>
      </tr>
      <tr>
        <td>>3 - 5Km</td>
        <td>Hoá đơn > 100k</td>
        <td>Miễn phí</td>
      </tr>
      <tr>
        <td>>3 - 5Km</td>
        <td>Hoá đơn < 100k</td>
        <td>20k</td>
      </tr>
      <tr>
        <td>>5Km</td>
        <td>Hoá đơn > 200k</td>
        <td>Miễn phí</td>
      </tr>
      <tr>
        <td>>5Km</td>
        <td>Hoá đơn < 200k</td>
        <td>30k</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="testimonials">
  <h2>Khách hàng đánh giá</h2>
  <div class="testimonial">
    <div>
      <img
        src="assets/images/item_burger.png"
        alt=""
      />
      <!-- <i class="fa-solid fa-comment"></i> -->
      <p class="comment">
        "Tôi thực sự hài lòng về trải nghiệm dịch vụ mà các bạn có. Dịch vụ
        chuyên nghiệp phí thấp so với các bên nhưng vẫn đảm bảo yêu cầu."
      </p>
      <p class="name">Quân Cóc</p>
    </div>
    <div>
      <img
        src="assets/images/item_burger.png"
        alt=""
      />
      <!-- <i class="fa-solid fa-comment"></i> -->
      <p class="comment">
        "Cũng được"
      </p>
      <p class="name">Duy Anh</p>
    </div>
    <div>
      <img
        src="assets/images/item_burger.png"
        alt=""
      />
      <!-- <i class="fa-solid fa-comment"></i> -->
      <p class="comment">
        "Meow meow meow meow meowmeow meow meow meow meow meow meow meow
        meow meow. Meow meowmeowmeowmeowmeowmeow."
      </p>
      <p class="name">Xiêm Bẩn</p>
    </div>
  </div>
</section>
