<div class="content">
  <!-- Product Categories -->
  <div class="categories" >
    <div class="cat">GÀ RÁN</div>
    <div class="cat">MỲ Ý</div>
    <div class="cat">BURGER</div>
    <div class="cat">PIZZA</div>
  </div>

  <!-- Product List -->
  <section class="product-list">
    <div class="product-card">
      <img src="https://assets.epicurious.com/photos/5c745a108918ee7ab68daf79/1:1/w_2560%2Cc_limit/Smashburger-recipe-120219.jpg" alt="Burger Bánh Mì">
      <div class="name-product">1 Burger Bánh Mì</div>
      <p>48.000đ</p>
      <button class="btn">Thêm</button>
    </div>
    <div class="product-card">
      <img src="https://assets.epicurious.com/photos/5c745a108918ee7ab68daf79/1:1/w_2560%2Cc_limit/Smashburger-recipe-120219.jpg" alt="Burger Bánh Mì HDA">
      <div class="name-product">Burger Bánh Mì HDA</div>
      <p>77.000đ</p>
      <button class="btn">Thêm</button>
    </div>
    <div class="product-card">
      <img src="https://assets.epicurious.com/photos/5c745a108918ee7ab68daf79/1:1/w_2560%2Cc_limit/Smashburger-recipe-120219.jpg" alt="Burger Bánh Mì HDB">
      <div class="name-product">Burger Bánh Mì HDB</div>
      <p>189.000đ</p>
      <button class="btn">Thêm</button>
    </div>
    <div class="product-card">
      <img src="https://assets.epicurious.com/photos/5c745a108918ee7ab68daf79/1:1/w_2560%2Cc_limit/Smashburger-recipe-120219.jpg" alt="Sữa Gạo Rang Hạt Sen">
      <div class="name-product">1 Sữa Gạo Rang Hạt Sen</div>
      <p>36.000đ</p>
      <button class="btn">Thêm</button>
    </div>
  </section>
</div>
