<div class="content">
  <!-- Product Categories -->
  <div class="categories" >
    <div class="cat" [ngClass]="{'choosed' : type === 'all'}" (click)="getAll()">TẤT CẢ</div>
    <div class="cat" [ngClass]="{'choosed' : type === g.name}" (click)="getGroupItems(g.id,g.name)" *ngFor="let g of groups">{{ g.name | groupName}}</div>
  </div>

  <!-- Product List -->
  <section class="product-list">
    <div class="product-card" *ngFor="let i of items">
      <img src="assets/images/item_burger.png" >
      <div class="name-product">{{ i.name }}</div>
      <p>{{ i.price }}đ</p>
      <button class="btn" (click)="addCart(i)">Thêm</button>
    </div>
  </section>
</div>
