* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.content{
  margin-top: 110px;
  height: 100vh;
}
/* Categories */
.categories {
  width: 100%;
  display: flex;
  margin: 10px 0 ;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2e2e2;
  overflow-x: auto;
  justify-content: space-around;
}

.categories .cat {
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  flex-shrink: 0
}

/* Product List */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 200px;
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-card .name-product {
  margin: 10px 0;
  font-size: 18px;
  height: 40px;
}

.product-card p {
  color: #e53935;
  font-size: 16px;
  font-weight: bold;
}

.product-card .btn {
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
/* Responsive */
@media (max-width: 768px) {
  .product-card {
    width: 45%;
  }

  .categories {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .categories .cat{
    font-size: 12px;
    flex-shrink: 0
  }
}

@media (max-width: 480px) {
  .product-card {
    width:100%;
  }

  .categories {
    overflow-x: auto;
  }
  .categories .cat{
    width: 80px !important;
    font-size: 12px;
    flex-shrink: 0
  }
  .content{
    height: auto;
  }
}
