<div class="container">
  <div class="header-container" >
    Xác nhận giao hàng
  </div>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-input">
        <label >Địa chỉ nhận hàng:</label>
        <input
          name="address"
          id="address"
          placeholder="Nhập..."
          [(ngModel)]="address"
          required
        />
      </div>
      <div class="submit">
        <button type="submit" [disabled]="form.invalid">Xác nhận</button>
      </div>
    </form>
  </div>
</div>
