<main class="history-content">
  <h1>Lịch Sử Đơn Hàng</h1>
  <div class="filter">
    <div class="status-filter">
      <select (change)="getFilterOrder($event)">
        <option value="all">Tất cả</option>
        <option value="not_confirm">Chờ xác nhận</option>
        <option value="confirm">Đã xác nhận</option>
        <option value="delivering">Đang giao</option>
        <option value="pay">Đã thanh toán</option>
      </select>
    </div>
  </div>
  <table class="order-table">
    <thead>
      <tr>
        <th class="col1">Mã đơn</th>
        <th class="col2">Ngày giờ</th>
        <th class="col3">Địa chỉ</th>
        <th class="col4">Trạng thái</th>
        <th class="detail col5">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders">
        <td class="col1">#{{ o.id }}</td>
        <td class="col2">{{ api.dateTransform(o.date) }}</td>
        <td class="col3">{{ o.address }}</td>
        <td class="col4">{{ api.getStatus(o.status) }}</td>
        <td class="detail col5" >
          <button class="btn" (click)="openDetail(o.id)">Xem chi tiết</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
