<main class="history-content">
  <h1>Lịch Sử Đơn Hàng</h1>
  <table class="order-table">
    <thead>
      <tr>
        <th>Mã hóa đơn</th>
        <th>Ngày giờ</th>
        <th>Địa chỉ</th>
        <th class="detail">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#12345</td>
        <td>10/12/2024 14:00</td>
        <td>123 Đường ABC, Hà Nội</td>
        <td class="detail">
          <button class="btn" (click)="openDetail()">Xem chi tiết</button>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td>#12345</td>
        <td>10/12/2024 14:00</td>
        <td>123 Đường ABC, Hà Nội</td>
        <td class="detail">
          <button class="btn" (click)="openDetail()">Xem chi tiết</button>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td>#12345</td>
        <td>10/12/2024 14:00</td>
        <td>123 Đường ABC, Hà Nội</td>
        <td class="detail">
          <button class="btn" (click)="openDetail()">Xem chi tiết</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
