* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.history-content {
  background: #fff;
  width: 100%;
  max-height: 90vh;
  /* padding: 20px; */
  /* border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  /* max-width: 900px; */
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

.order-table th, .order-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.order-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.order-table tr:hover {
  background-color: #f9f9f9;
}
.order-table thead{
  display: block;
  width: 100%;
}
.order-table tbody{
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}
thead tr , tbody tr{
  display: table;
  width: 100%;
  height: 50px;
  table-layout: fixed;
}
tbody::-webkit-scrollbar {
  width: 2px; /* Change this value to adjust scrollbar width */
}

tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; /* Rounded corners */
}

tbody::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.btn {
  background-color: #e4002b;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.col1,.col5{
  width: 10%;
}
.col2,.col4{
  width: 20%;
}
.col3{
  width: 40%;
}
.btn:hover {
  background-color: #cc0025;
}
.order-table .detail{
  text-align: center;
}
/* Responsive Design */
@media (max-width: 768px) {
  .order-table th, .order-table td {
      font-size: 14px;
      padding: 8px;
  }

  .btn {
      font-size: 12px;
      padding: 6px 10px;
  }
}
