.list-detail{
  width:100%;
  max-height: 1000px;
  margin-top: 3%;
  padding: 10px;
}
.title{
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: large;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-buy{
  width: 100%;
  height: calc(100% - 200px);
  max-height: 1000px;
  overflow-y: auto;
}
.list-buy .item-buy{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  box-sizing: border-box;
  padding:10px 0px 10px 0px;
  background-color:white;
  border-top:#e2e2e2 solid 2px;

}
.name-note{
  padding-top: 8px;
}
.more{
  display: flex;
  margin-top: 4%;
}
.more button:hover{
  background-color: #4dac61;
  cursor: pointer;
  color: white;
}
.bill{
  width:100%;
  height: 18%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bill-title{
  font-weight: 700;
  font-size: medium;
  color: #e4002b;
}
.money{
  font-weight: 700;
  /* font-style: italic; */
}
.menu-title,.menu-all{
  width:100%;
  box-sizing: border-box;
  padding-left: 10px;
  text-align: left;
}
.menu-title>div,.menu-all{
  padding-bottom: 16px;
  font-weight: 500;
  font-size: small;
}
.menu-title>div:hover,
.menu-all:hover{
  color:#4dac61;
  text-decoration: underline;
  cursor: pointer;
}
