<div class="list-detail">
  <div class="title" style="font-weight: 700; font-size: large">
    Hoá đơn mã #TEST
  </div>
  <div class="list-buy">

    <div >
      <div class="item-buy" >
        <div class="name-note">
          <div class="name-i">TEST1</div>
        </div>
        <div class="more">
          <div class="number" style="margin: 0 5px 0 5px">
            x 1000
          </div>
        </div>
      </div>
    </div>

    <div >
      <div class="item-buy" >
        <div class="name-note">
          <div class="name-i">TEST2</div>
        </div>
        <div class="more">
          <div class="number" style="margin: 0 5px 0 5px">
            x 1000
          </div>
        </div>
      </div>
    </div>

    <div >
      <div class="item-buy" >
        <div class="name-note">
          <div class="name-i">TEST3</div>
        </div>
        <div class="more">
          <div class="number" style="margin: 0 5px 0 5px">
            x 1000
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="bill">
    <div class="bill-title">Tổng tiền:</div>
    <div class="money">10000 đ</div>
  </div>
</div>

