* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: white;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: #e2e2e2 solid 2px;
}
.logo img {
  height: 84px;
  margin-right: 10px;
}

.nav-links a,
.nav-icons a {
  margin: 0 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.nav-links a:hover {
  box-shadow: 0px 4px 8px rgba(226, 226, 226, 1),
    0px 6px 16px rgba(226, 226, 226, 0.7);
}
.nav-icons img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.nav-icons img:hover {
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(226, 226, 226, 1),
    0px 6px 16px rgba(226, 226, 226, 0.7);
}
.navigation {
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  display: none;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  height: 50px;
  box-sizing: border-box;
}

.menu-icon {
  color: #d80000;
  padding-left: 45%;
  padding-top: 10px;
  font-size: 50px;
  box-sizing: border-box;
}

.menu-close {
  font-size: 24px;
  cursor: pointer;
}

.menu-section {
  margin-top: 20px;
  padding-left: 20px;
}

.menu-section h3 {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-section ul {
  list-style: none;
}

.menu-section ul li {
  padding: 10px 0;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.menu-section ul li:hover {
  color: #d80000;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
}
footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer-content div {
  margin-top: 10px;
  flex: 1;
}
h4,
p {
  margin-top: 10px;
}
footer a ,.footer-content>div p{
  color: #ffcc00;
  text-decoration: none;
}
.cart-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 40vh;
  left: 0;
}
.cart-icon img{
  width: 100%;
  height: 100%;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff0000;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}
.cart-icon:hover{
  cursor: pointer;
}
@media (max-width: 480px) {
  .nav-links {
    display: none;
  }
  .navigation {
    width: 250px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-content iframe{
    display: none;
  }
}
