<header class="navbar">
  <div class="logo">
    <img
      src="assets/images/logo_shop.png"
      alt="Logo"
    />
  </div>
  <nav class="nav-links">
    <a routerLink="/order">THỰC ĐƠN</a>
    <a href="#">KHUYẾN MÃI</a>
    <a href="#">HỆ THỐNG NHÀ HÀNG</a>
  </nav>
  <div class="nav-icons">
    <!-- <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-bars"></i> -->
    <img src="assets/images/icon_users.png" >
    <img (click)="openNav()" src="assets/images/icon_bars.png" >
  </div>
</header>

<div #navigation class="navigation">
  <div class="menu-header">
    <div class="menu-icon" >≡</div>
    <div class="menu-close" (click)="closeNav()">✕</div>
  </div>
  <div class="menu-section">
    <h3>DANH MỤC MÓN ĂN</h3>
    <ul>
      <li>Gà rán ›</li>
      <li>Mỳ ý ›</li>
      <li>Burger ›</li>
      <li>Pizza ›</li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>VỀ CHÚNG TÔI</h3>
    <ul>
      <li>Tin Khuyến Mãi ›</li>
      <li>Tuyển dụng ›</li>
      <li>Đặt tiệc Sinh nhật ›</li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>LIÊN HỆ</h3>
    <ul>
      <li>Facebook ›</li>
      <li>Zalo ›</li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>CHÍNH SÁCH</h3>
    <ul>
      <li>Chính sách hoạt động ›</li>
      <li>Chính sách VS-ATTP ›</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="footer-content">
    <div>
      <h4>Liên Hệ</h4>
      <p>Địa chỉ: Số 69, Đường Tăng, Quốc Oai, Hải Phòng</p>
      <p>Điện thoại: 911</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.398007356629!2d105.83984271108692!3d21.01675498054875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abc654b563c9%3A0x9bcb7dfff2b12124!2zUuG6oXAgWGnhur9jIFRydW5nIMavxqFuZw!5e0!3m2!1svi!2s!4v1728738274387!5m2!1svi!2s" width="200px" height="200px" style="border:black solid 1px; margin-top: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
      <h4>Thông Tin</h4>
      <p><a href="">Chính sách bảo mật</a></p>
      <p><a href="">Điều khoản dịch vụ</a></p>
    </div>
    <div>
      <h4>Kết Nối Với Chúng Tôi</h4>
      <p><a href="">Facebook</a></p>
      <p><a href="">Zalo</a></p>
    </div>
  </div>
  <p>&copy;2024. Author: DuyAnh</p>
</footer>
