<header class="navbar">
  <div class="logo">
    <img
      src="https://img.freepik.com/premium-photo/cartoon-fast-food-restaurant-logo-with-hamburger-fries_947814-97739.jpg?semt=ais_hybrid"
      alt="Logo"
    />
  </div>
  <nav class="nav-links">
    <a href="#">THỰC ĐƠN</a>
    <a href="#">KHUYẾN MÃI</a>
    <a href="#">HỆ THỐNG NHÀ HÀNG</a>
  </nav>
  <div class="nav-icons">
    <!-- <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-bars"></i> -->
    <img src="https://cdn-icons-png.freepik.com/256/1077/1077114.png?semt=ais_hybrid" alt="">
    <img src="https://icons.veryicon.com/png/o/miscellaneous/unicons/bars-1.png" alt="">
  </div>
</header>

<router-outlet></router-outlet>
