<main class="form-content">
  <h1>Chi tiết tài khoản</h1>
  <form (ngSubmit)="onSubmit()">
    <label for="last-name">Họ của bạn *</label>
    <input type="text" name="last-name" id="last-name" [(ngModel)]="user.lastName"/>

    <label for="first-name">Tên của bạn *</label>
    <input type="text" name="first-name" id="first-name"  [(ngModel)]="user.firstName"/>

    <label for="phone">Số điện thoại *</label>
    <input type="text" name="phone" id="phone"  [(ngModel)]="user.phone"/>

    <label for="email">Địa chỉ email của bạn *</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
    />

    <label for="gender">Giới tính *</label>
    <select id="gender" name="gender" [(ngModel)]="user.sex">
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
      <option value="orther">Khác</option>
    </select>

    <label for="dob">Ngày sinh của bạn (tùy chọn)</label>
    <div class="dob">
      <select name="day" id="day" [(ngModel)]="birthDay.day">
        <option *ngFor="let d of days" [value]="d">Ngày {{ d }}</option>
      </select>
      <select name="month" id="month" [(ngModel)]="birthDay.month" (change)="updateDays()">
        <option *ngFor="let m of months" [value]="m.value">{{ m.name }}</option>
      </select>
      <select name="year" id="year" [(ngModel)]="birthDay.year" (change)="updateDays()">
        <option *ngFor="let y of years" [value]="y">Năm {{ y }}</option>
      </select>
    </div>

    <button type="submit" class="btn">Cập nhật tài khoản</button>
  </form>
</main>
