<main class="form-content">
  <h1>Chi tiết tài khoản</h1>
  <form>
    <label for="last-name">Họ của bạn *</label>
    <input type="text" id="last-name" placeholder="Duy" />

    <label for="first-name">Tên của bạn *</label>
    <input type="text" id="first-name" placeholder="Anh" />

    <label for="phone">Số điện thoại *</label>
    <input type="text" id="phone" placeholder="" />

    <label for="email">Địa chỉ email của bạn *</label>
    <input
      type="email"
      id="email"
      placeholder="deadpool692.0@gmail.com"
      disabled
    />

    <label for="gender">Giới tính *</label>
    <select id="gender">
      <option>Nam</option>
      <option>Nữ</option>
      <option>Khác</option>
    </select>

    <label for="dob">Ngày sinh của bạn (tùy chọn)</label>
    <div class="dob">
      <select>
        <option>Ngày</option>
      </select>
      <select>
        <option>Tháng</option>
      </select>
      <select>
        <option>Năm</option>
      </select>
    </div>

    <button type="submit" class="btn">Cập nhật tài khoản</button>
  </form>
</main>
