<div class="content">
  <aside class="sidebar">
    <div class="user">
      <h3>Xin chào {{ user.firstName}} !</h3>
    </div>
    <div class="option">
      <ul>
        <li><a routerLink="history" [ngClass]="{'active' : typeSelected === 'history'}" (click)="changeTypeSelected('history')">Đơn hàng đã đặt</a></li>
        <li><a routerLink="edit" [ngClass]="{'active' : typeSelected === 'edit' }" (click)="changeTypeSelected('edit')">Chi tiết tài khoản</a></li>
        <li><a >Đặt lại mật khẩu</a></li>
        <li><a >Xóa tài khoản</a></li>
        <li><a (click)="logout()">Đăng xuất</a></li>
      </ul>
    </div>
  </aside>

  <main class="main-content">

    <router-outlet></router-outlet>

  </main>
</div>
