* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.content {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  overflow: hidden;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  margin-top: 100px;
  padding: 10px;
}

.sidebar {
  /* flex: 1; */
  background-color: #202020;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  height: 90vh;
  width: 240px;
}

.sidebar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.sidebar ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #e4002b;
  /* border-bottom: #e4002b solid 1px; */
}

main {
  flex: 2;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 95vw;
    height: auto;
  }
  .sidebar ul li a{
    border-radius: 0;
  }
  .sidebar ul li a.active,
  .sidebar ul li a:hover {
    border-bottom: #e4002b solid 1px;
    background: none;
    border-radius: none;
  }
  .user {
    padding-left: 15px;
  }
  .user h3,
  .user p {
    text-align: left;
  }
  .option ul {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .option a {
    font-size: 12px;
  }
}
