<div class="content">
  <aside class="sidebar">
    <div class="user">
      <h3>Xin chào, Anh!</h3>
      <p style="text-decoration: underline;margin-top: 10px;">Đăng xuất</p>
    </div>
    <div class="option">
      <ul>
        <li><a href="#">Đơn hàng đã đặt</a></li>
        <li><a href="#" class="active">Chi tiết tài khoản</a></li>
        <li><a href="#">Đặt lại mật khẩu</a></li>
        <li><a href="#">Xóa tài khoản</a></li>
      </ul>
    </div>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
